#UploadButton {
    background-color: #FF0000;
    /* background: transparent; */
    /* border-style: solid; */
    /* border-color: transparent; */
    border: none;
    /* border-width: 5px; */
    border-radius: 20px; 
    padding: 5% 5% 5% 5%;
    /* elevation: 3; */
}